.sinif1{
   font-size: 20px;
   background-color: red;
   color: white;
   border-radius: 10px;
   padding: 10px;
   margin: 10px;
}

.sinif2{
   font-size: 30px;
   background-color: white;
   color: red;
   border-radius: 20px;
   padding: 20px;
   margin: 20px;
}