.sinif1{
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 10px;
}

#busra{
    background-color: red;
    color: white;
    padding: 10px;
    margin: 10px;
}

.sinif2{
    background-color: red;
    color: white;
    padding: 10px;
    margin: 10px;
}